.repo-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.repo-content-container{
    margin-left:  30px;;

}
.repo-start-value-container{
    display: flex;
    align-items: center;

}

.repo-star-value{
    margin:10px 0px 0px 30px;
}
/* .menu-container{
    width: 300px;
    float:right;
} */